.pointer-tab::after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -50px;
  border-top: solid 50px lightslategrey;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}