.pointer-tab::after {
  content:'';
  position: absolute;
  top: 109%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-top: solid 10px #CBD5E1;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  transition: 0.5s;
  animation: slide-in 0.5s forwards;
}