.cartItem{
    height: 164px;
    margin: 0.5%;
    padding: 0.5%;
    display: flex;
    border: #868686;
    border-style: solid;
    border-width: 1px;
}

.cartHeader{
    display: flex;
    border: #414d5d;
    color: #d0c7d9;
    padding: 5px;

}

.itemNameHeader{
    margin-left: 24%;
}

.itemCostHeader{
    margin-left: 53%;
    border: 1px white;
}

.cartItemDesc{
    padding-left: 15px;;
    width: 30%;

}

.basket{
    background: #242434;
}

.basketMiddle{
    width: 30%;
    padding-top: 10px;
}

.cartItemCost{
    padding-bottom: 10px;
    padding-left: 19px;
}

.cartItemCount{
    display: inline-flex;
}

.itemCount{
    padding:10px;
}

.basketLeft{
    padding: 48px;

}

.trashIcon{
    padding-top: 57px;
    width: 8%;
    padding-left: 19px;
}

.basketFooter{
    justify-content: end;
    margin-top: 10px;
    padding-right: 10px;
}

.backButton{
    padding-top: 97px;
    padding-left: 10px;

}


.footerMid{
    width: 45%;
}

.footerOptions{
    display: flex;
    padding-top: 17px;

}



#tipRow{
    display: flex;
}

.tipOptions{
    padding-left: 32px;
}

.orderSummaryRow{
    display: flex;
}

.orderSummaryTitle{
    width: 53px;
}

.orderSummary{
    float: right;
}

.basketItems{
    overflow-x: scroll;
    height: 520px;
}

.cartEmpty{
    margin: auto;
    padding-top: 59px;

}

.paymentOptions{
    padding-right: 8px;
}

.submitOrderButton{
    height: 10px;
}

.expiry{
    width: 50%;
    padding-left: 20px;
}

.cardDetailsRow{
    display: flex;
    padding-bottom: 10px;
}

.paymentAlert{
    color: #e32828;
    font-size: 11px;
    padding-top: 5px;
    font-family: sans-serif;
}