#menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    text-align: center;
  }
  
#menu-categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    min-height: 30px;
    width: 100%;
    background-color: wheat;
    user-select: none;
    transition-duration: 0.1s;
}

.menu-category[active="true"] {
    filter: brightness(110%);
}

.menu-category:hover[active="false"] {
    font-size: 14px;
    filter: brightness(94%);
}

#menu-item-container {
    flex-grow: 1;
    overflow: auto;
}

.menu-item {
    width: 99%;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-desc {
    flex-grow: 1;
    user-select: none;
}

.menu-footer {
    border: 2px solid #73454E;
    user-select: none;
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
}

.cost-counter {
    height: 100%;
    width: 150px;
}

.order-table {
    color: #272838;
}