$space: 1rem;

#start-screen-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    margin-top: 20vh;
    text-align: center;
}

.form_field {
    margin-bottom: 0.5vh;
}

.form_label {
    display: inline-block;
    gap: 2vh;
    margin-right: 0.5vw;
    font-weight: 700;
    text-align: right;
}

.form_input {
    display: block;
    width: 20vw;
    margin-left: 40vw;
    border: 1px solid gray;
    margin-bottom: 0.5%;
    color: inherit;
    font-family: inherit;
}

.form_select {
    display: block;
    text-align: left;
    width: 20vw;
    margin-left: 40vw;
    border: 1px solid gray;
    margin-bottom: 0.5%;
    color: inherit;
    font-family: inherit;
}

.error_msg {
    color: red;
}